@use "../../scss/partials/branding" as branding;
@use "../../scss/partials/mixins" as mixins;

.textarea{
    width: 100%;
    border-radius: 4px;
    padding: 0.1rem 0.25rem;
    max-width: calc(100% - 0.5rem);
    color : rgba(0, 0, 0, 0.9);
    border: none;
    outline-offset: -1px;

    @include mixins.visible(){
        border: none;
        outline: 1px solid branding.$brand_color_six;
    }

    &__error{
        background-color: pink;
        outline-color: red;  
    }

    &__square {
        border-radius: 0px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        border-top-right-radius: 4px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: branding.$brand_color_six;
        border-top-right-radius: 4px;
    }

    /* Corner */
    &::-webkit-scrollbar-corner{
        background: transparent;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: none;
    }
}