@use "../../scss/partials/animations" as animations;
@use "../../scss/partials/responsive" as responsive;

.post{
    animation: fade-in 0.2s linear;
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    margin: 0 auto;

    &__title{
        margin-bottom: 0.5rem;
        text-align: left;
        margin-top: 0;
        font-size: 1.75rem;
        line-height: 1;
    }

    &__image{
        object-fit: contain;
        height: 400px;

        @include responsive.breakpoint(mobile){
            width: 100%;
            object-fit: cover;
            max-height: 300px;
        }
    }

    @include responsive.breakpoint(tablet){
        &__title{
            max-width: 90%;
        }
    }
}