@use "../../scss/partials/branding" as branding;
@use "../../scss/partials/mixins" as mixins;

.liveChat {
    width: 100%;

    &__title{
        text-align: center;
    }

    &__message{
        padding: 0 1rem;
        margin: 0.75rem 1rem;
        border-radius: 0.35rem;
    }

    &__date{
        font-size: 0.8rem;
        color: branding.$brand_color_six;
    }

    &__description{
        margin: 0 0 0.75rem;
        padding-top: 1rem;
        padding-bottom: 0.25rem;
        color: branding.$brand_color_six;

        span{
            color: branding.$brand_color_six; 
        }

        &--align-right{
            text-align: right;
        }
    }

    &__icon{
        color: branding.$brand_color_six;
        padding: 0.1rem 0.45rem 0.2rem;
        border-radius: 50%;
        border: 2px solid branding.$brand_color_six;
        margin-right: 0.5rem;
    }

    &__content{
        color: rgba(0, 0, 0, 0.9);
        margin: 0 0 0.25rem;
        padding: 0.1rem 0.8rem 0.35rem 0.8rem;
        border-radius: 5px;

        &--align-left{
            text-align: left;
            width: max-content;
            overflow: hidden;
            z-index: 1;
            position: relative;

            @include mixins.backgroundGradientEffect(){
                background: branding.$gradient_color_six;   
            }
        }

        &--align-right{
            margin-left: auto;
            text-align: right;
            width: max-content;
            overflow: hidden;
            z-index: 1;
            position: relative;
            background: white;
        }
    }
}