@use "../../scss/partials/branding" as branding;

.carousel {

    &-root {
        max-width: 600px;
        margin: 0 auto;
        width: calc(100% - 2rem);
    }

    .carousel-status {
        color: branding.$brand_color_three__alt_2;
    }

    img {
        object-fit: cover;
        max-height: 500px;
        height: 100%;
    }

    .thumb {
        width: 80px;
        height: 100px;
    }

    &.carousel-slider {
        .control{

            &-arrow {
                color: red;
    
                &:hover {
                    background: none;
                }
            }
    
            &-dots {
    
                .dot {
                    background-color: branding.$brand_color_three;
                    border: 1px solid branding.$brand_color_three__alt_2;
                    box-shadow: branding.$card_box_shadow;
                    opacity: 0.7;
        
                    &.selected {
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    .slider{
        &-wrapper {
            height: 100%;

            .legend {
                opacity: 0.75;
                box-shadow: branding.$toggle_shadow;
            }
        }
    }
}