@use "../../scss/partials/branding" as branding;
@use "../../scss/partials/animations" as animations;
@use "swiper/scss";
@use "swiper/scss/navigation";
@use "swiper/scss/pagination";
@use "swiper/scss/thumbs";

.carousel {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    grid-row-gap: 0.5rem;
    margin: auto;

    p {
        font-size: 1.1rem;
        margin: 0;
    }

    &__chosen-image{
        display: flex;
        flex-direction: row;
        grid-column-gap: 1rem;
        align-items: center;
    }

    &__error-text {
        color: pink;
    }
}

.swiper {

    width: 100%;
    margin: auto;
    max-height: 500px;
    transition: animations.$quick_transition;

    &__error {
        outline: 2px solid red;
        border-radius: 3px;
    }

    &__image { 
        max-height: 500px;
        width: 100%;
        height: 100%; 
        object-fit: cover;
        cursor: pointer;
        user-select: none;
        transition: inherit;

        &--chosen {
            outline: 2px solid branding.$brand_color_three;
            outline-offset: -2px;
        }
    }

    &__thumbnail {
        width: 100%;
        object-fit: cover;
        height: 100px;
        max-height: 100px;
        cursor: pointer;
        transition: animations.$quick_transition;
        user-select: none;

        &--chosen {
            outline: 2px solid branding.$brand_color_three;
            outline-offset: -2px;
        }
    }

    &-button-next, &-button-prev {
        color: branding.$brand_color_three;
        opacity: 0.8;

        &:after {
            font-size: 30px;
        }

        &:hover {
            color: branding.$brand_color_three__alt_2;
            opacity: 1;
        }
    }
}