@use "../../scss/partials/branding" as branding;
@use "../../scss/partials/animations" as animations;

.carousel {

    &-root {
        max-width: 600px;
        margin: 0 auto;
        width: calc(100% - 2rem);
    }

    .carousel-status {
        color: branding.$brand_color_three__alt_2;
    }

    img {
        object-fit: cover;
        max-height: 500px;
        height: 100%;
    }

    .thumb {
        width: 80px;
        height: 100px;
    }

    &.carousel-slider {

        &:hover {

            .legend{
                opacity: 1;
            }
        }

        .slide {
            cursor: grab;
        }
        
        .control{

            &-prev {
                &.control-arrow {
                    &:before {
                        border-right: 8px solid branding.$brand_color_three;
                    }
                }
            }

            &-next {
                &.control-arrow {
                    &:before {
                        border-left: 8px solid branding.$brand_color_three;
                    }
                }
            }

            &-arrow {
                color: red;
    
                &:hover {
                    background: none;
                }
            }
    
            &-dots {
    
                .dot {
                    background-color: branding.$brand_color_three;
                    border: 1px solid branding.$brand_color_three__alt_2;
                    box-shadow: branding.$card_box_shadow;
                    opacity: 0.7;
        
                    &.selected {
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    .slider{
        &-wrapper {
            height: 100%;

            .legend {
                transition: animations.$standard_transition;
                background: branding.$brand_color_three__alt_5;
                box-shadow: branding.$box_shadow_blue__alt_1;
                opacity: 0.65;
            }
        }
    }
}